* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-color: pink;
  padding: 2em;
}

h2 {
  margin-top: 2em;
  margin-bottom: 1.5em;
  text-align: center;
}

.container {
  text-align: center;
}

.card {
  margin: 30px;
  display: inline-block;
  text-align: center;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: pink;
  padding: 5px 15px 5px 15px;
}

.details p {
  margin-bottom: 9px;
}

.image {
  height: 250px;
  width: 250px;
}

.card img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter 0.5s ease-out;
}

.card:hover img {
  transform: scale(1.1);
}
